# ~~Global values, used as fallback if needed
width = 800
height = 525
force_window = false
font_size = 22
bg_color = 0x222222ee # ~~colors are specified in 0xRRGGBBAA format

font_color = 0xf8f8f2ff

[input_text]
font_color = 0xf8f8f2ff
bg_color = 0x212121ff
margin = "5"
padding = "1.7 -4"

[list_items]
font_color = 0xf8f8f2ff
selected_font_color = 0xa6e22eff
match_color = 0xe69f66ff
margin = "10 20 10 35"
item_spacing = 15
icon_spacing = 15

[icon]
size = 20
theme = "WhiteSur-dark"
fallback_icon_path = "/usr/share/icons/Adwaita/16x16/categories/applications-engineering-symbolic.symbolic.png"
